on:
  workflow_dispatch:

# Name of the workflow
name: hello-r-world

# Jobs - What the computer should do? 
jobs:
  write-message:
    # Use Ubuntu   
    runs-on: ubuntu-latest 
    steps:
    - uses: actions/checkout@v3
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '3.5.3' # The R version to download (if necessary) and use.
    - run: Rscript -e 'print("hello")' 
